<div class="form">
    <div id="signup">
        <h1>Password Reset</h1>
        <form method='post' ng-submit="updatepassword(pwd)">
            <div class="field-wrap">
                <input type="password" ng-model="pwd.password" required autocomplete="off" placeholder="New Password*" />
            </div>
            <button type="submit" class="button button-block" />Reset Password</button>
            <br>
        </form>
    </div>

    <!-- Error Message Popup -->
    <div id="pwdmodel" class="modal" style="border-radius : 5px;border: 2px solid black">
        <!-- Modal content -->
        <div class="modal-content" id="modal-content">
            <span class="close">&times;</span>
            <p>{{ pwdreset }}</p>
        </div>
    </div>
</div>