<div class="form">

  <ul class="tab-group">
    <li class="tab"><a href="#login">Log In</a></li>
    <li class="tab active"><a href="#signup">Sign Up</a></li>

  </ul>


  <div id="signup">
    <h1>Sign Up for Free</h1>

    <form method='post' ng-submit="saveCustomer(person)">

      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content" id = "modal-content" style="border-radius : 5px;border: 2px solid black">
          <span class="close">&times;</span>
          <p>{{response}}</p>
        </div>
      </div>

      <div class="top-row">
        <div class="field-wrap">
          <!-- <label>
                First Name<span class="req">*</span>
              </label> -->
          <input type="text" ng-model="person.fname" required autocomplete="off" placeholder="First Name*" />
        </div>

        <div class="field-wrap">
          <!-- <label>
                Last Name<span class="req">*</span>
              </label> -->
          <input type="text" ng-model="person.lname" required autocomplete="off" placeholder="Last Name*" />
        </div>
      </div>

      <div class="field-wrap">
        <!-- <label>
              Email Address<span class="req">*</span>
            </label> -->
        <input id='txtemail' type="email" ng-model="person.email" required autocomplete="off" placeholder="Email Address*"/>
      </div>

      <div class="field-wrap">
        <select ng-model="person.type" style="color:#9AA0A4" placeholder="Select Type">
					<option value=""  disabled selected>Select Type of Accounnt</option>
  					<option value="customer">customer</option>
  					<option value="saller">saller</option>
			  </select>
      </div>

      <div class="field-wrap">
        <!-- <label>
				Address<span class="req">*</span>
            </label> -->
        <textarea ng-model="person.address" required placeholder="Address*"></textarea>
      </div>

      <div class="field-wrap">
        <!-- <label>
              Set A Password<span class="req">*</span>
            </label> -->
        <input type="password" ng-model="person.password" required autocomplete="off" placeholder="Set A Password*" />
      </div>

      <button type="submit" class="button button-block" />Get Started</button>

    </form>

  </div>

</div>